# C插件支持品质宽带的特性开关，由于开启品质宽带后会影响WIFI极限性能，所以只在部分单板开启，采用打包改名的方式, 游戏加速特性一定要开
feature.name="FT_QBB_SUPPORT" feature.enable="0" feature.attribute="1"

#EAI加速特性开关
feature.name="FT_EAI_APP_SUPPORT" feature.enable="0" feature.attribute="1"
feature.name="FT_EAI_WEB_SUPPORT" feature.enable="0" feature.attribute="1"
feature.name="FT_EAI_APP_IDENTIFY" feature.enable="0" feature.attribute="1"
feature.name="FT_EAI_APP_IDENTIFY_EDU" feature.enable="0" feature.attribute="1"
feature.name="FT_EAI_APP_IDENTIFY_PING" feature.enable="0" feature.attribute="1"
feature.name="FT_EAI_APP_IDENTIFY_OFFICE" feature.enable="0" feature.attribute="1"
feature.name="FT_EAI_APP_IDENTIFY_VIDEO" feature.enable="0" feature.attribute="1"
feature.name="FT_EAI_APP_IDENTIFY_VIDEO" feature.enable="0" feature.attribute="1"
feature.name="FT_EAI_APP_IDENTIFY_STREAM" feature.enable="0" feature.attribute="1"

#是否支持EAI小类应用配置
feature.name="FT_EAI_SUPPORT_APPS_CONFIG" feature.enable="0" feature.attribute="1"