feature.include="base_smt_ft.cfg"

#天翼网关特性开关
feature.name="HW_SSMP_FEATURE_CTRG" feature.enable="1" feature.attribute="0" 
feature.name="FT_CHANGE_NOTIFY_DBUS" feature.enable="1" feature.attribute="0"
feature.name="HW_SSMP_FEATURE_GDBUS_CHANNEL" feature.enable="1" feature.attribute="0"

#电信支持C插件特性开关
feature.name="FT_SMART_REMOTE_MANAGE" feature.enable="1" feature.attribute="1"
feature.name="HW_FT_OSGI_CPLUGIN" feature.enable="1" feature.attribute="1"
