# HG8010/HG8045 spec.cfg
#此文件由hw_spec.xml演化而来
# [vspa voip spec]
spec.name="VSPA_SPEC_MAXVAGNUM" spec.type="uint" spec.value="0"
spec.name="VSPA_SPEC_MAXPORTNUM" spec.type="uint" spec.value="0"
spec.name="VSPA_SPEC_MAXDSPCHNNUMPERCHIP" spec.type="uint" spec.value="4"
spec.name="VSPA_SPEC_MAXCONFERENCENUM" spec.type="uint" spec.value="2"
spec.name="VSPA_SPEC_DMMMAXSUBSCHEME" spec.type="uint" spec.value="436"
spec.name="VSPA_SPEC_MAXSIPEXTERNTELNONUM" spec.type="uint" spec.value="16"
spec.name="VSPA_SPEC_MAXH248EXTERNTELNONUM" spec.type="uint" spec.value="0"

