#通用的二次定制的Feature.cfg文件
#通用部分SSMP目前完全符合产品的Feature.cfg。请其他领域各自添加自己的二次定制。
feature.name="HW_SSMP_FEATURE_RESET_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="0"
feature.name="HW_SSMP_FEATURE_DM_LEDSWITCH" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_AUTH" feature.enable="1"

feature.name="HW_SSMP_FEATURE_SAFE_CHANNEL" feature.enable="1"
feature.name="FT_PLUGIN_CWMP_MNGT_ENABLE" feature.enable="1"

#AMP部分
feature.name="HW_AMP_FEATURE_COMMON" feature.enable="1"
feature.name = "HW_AMP_FEATURE_L2WIFI" feature.enable="1"
feature.name = "HW_AMP_FEATURE_WLANUPMODE" feature.enable="1"
feature.name="HW_AMP_FEATURE_WPS_MULIT_PBC" feature.enable="1"
feature.name="AMP_FT_WIFI_PWD_SHOW" feature.enable="1"
feature.name="HW_AMP_FEATURE_ONT_AUTHENTICATION" feature.enable="0"
feature.name="AMP_FT_AISAP" feature.enable="1"

# BBSP部分
feature.name="BBSP_FT_FIREWALL_FLOW_LOG" feature.enable="1"

feature.name="BBSP_FT_CONFIG_IPV6_SESSION" feature.enable="1"
feature.name="BBSP_FT_IPV6_IPFILTER" feature.enable="1"
feature.name="BBSP_FT_IPV6_PORTMAPPING" feature.enable="0"
feature.name="BBSP_FT_DHCPD" feature.enable="1"

feature.name="BBSP_FT_VIDEO_CFG" feature.enable="1"
feature.name="FT_AIS_MESH" feature.enable="1"

##
feature.name="BBSP_FT_DHCP_MAIN" feature.enable="0"
feature.name="BBSP_FT_DHCP_HOST" feature.enable="0"
feature.name="BBSP_FT_DHCP_HOSTNUM" feature.enable="0"
feature.name="BBSP_FT_ROUTE_STATIC" feature.enable="0"
feature.name="BBSP_FT_R13_ONETRACK" feature.enable="0"
feature.name="BBSP_FT_TYPELIMIT" feature.enable="0"
feature.name="BBSP_FT_DMZ_IP" feature.enable="0"
feature.name="BBSP_FT_DMZ_PPP" feature.enable="0"
feature.name="BBSP_FT_PORTMAP_IP" feature.enable="0"
feature.name="BBSP_FT_PORTMAP_PPP" feature.enable="0"
feature.name="BBSP_FT_PORTTRIGGER_IP" feature.enable="0"
feature.name="BBSP_FT_PORTTRIGGER_PPP" feature.enable="0"
feature.name="BBSP_FT_IPFILTERIN" feature.enable="0"
feature.name="BBSP_FT_DNS" feature.enable="0"
feature.name="BBSP_FT_LANBIND_IP" feature.enable="0"
feature.name="BBSP_FT_LANBIND_PPP" feature.enable="0"
feature.name="BBSP_FT_WAN_CFG" feature.enable="0"
feature.name="BBSP_FT_URLFIL" feature.enable="0"
feature.name="BBSP_FT_TYPE_PORTAL" feature.enable="0"
feature.name="BBSP_FT_DDNS_IP" feature.enable="0"
feature.name="BBSP_FT_DDNS_PPP" feature.enable="0"
feature.name="BBSP_FT_MULTICAST_ROUTEIP" feature.enable="0"
feature.name="BBSP_FT_MULTICAST_ROUTEPPP" feature.enable="0"
feature.name="BBSP_FT_IPV6" feature.enable="1"
feature.name="BBSP_FT_IPV6_WANCFG" feature.enable="1"
feature.name="BBSP_FT_IPV6_LANDEV" feature.enable="0"
feature.name="BBSP_FT_IPV6_DSLITE" feature.enable="0"
feature.name="BBSP_FT_IPV6_DIAG" feature.enable="0"
feature.name="BBSP_FT_IPV6_ROUTE" feature.enable="1"
feature.name="BBSP_FT_IPV6_UNNUMBER" feature.enable="0"
feature.name="BBSP_FT_FIREWALL" feature.enable="0"
feature.name="BBSP_FT_L3_ALL" feature.enable="0"
feature.name="BBSP_FT_SMARTQOS" feature.enable="0"
feature.name="FT_WAN_SUPPORT_TYPE" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CONTROL" feature.enable="0"
feature.name="BBSP_FT_DHCPS_OPTION"       feature.enable="0"
feature.name="BBSP_FT_IPNEIGH_PRIVATEINFO" feature.enable="0"
feature.name = "BBSP_FT_PPPOEEM_IGNORE_WANSTAT" feature.enable="0"
feature.name="FT_WAN_SUPPORT_TYPE_BRIDGE" feature.enable="1"

feature.name = "BBSP_FT_BIN5_ENHANCED" feature.enable="1"
feature.name="BBSP_FT_IGMP_SNOOPINGENABLE_SET" feature.enable="1"
# 增加bin5形态判断
feature.name="BBSP_FT_BIN5_BOARD" feature.enable="1"
#是否可以通过TR069、WEB页面配置端口QINQ
feature.name="BBSP_FT_RG_VLAN_RULE_CONFIG" feature.enable="1"
#P2P特性
feature.name="BBSP_FT_FEATURE_P2P" feature.enable="1"

feature.name="BBSP_FT_HGDETECT" feature.enable="0"


##比较bin4_nowifi_5116_ptp与bin5_wifi_5116_ptp整理的关于wifi的特型开关
feature.name="BBSP_FT_WLANMACFILER" feature.enable="1"
feature.name = "BBSP_FT_ISPSSID_JSCMCC" feature.enable="0"

#tr069节点隐藏
feature.name="MAC_FT_RG_MAC_TIMER_CTL" feature.enable="0"
feature.name="BBSP_FT_QOS_CFG" feature.enable="0"
feature.name="BBSP_FT_ARP" feature.enable="0"
feature.name="BBSP_FT_IPV6_CORE" feature.enable="1"
feature.name="BBSP_FT_ROUTE" feature.enable="0"
feature.name="BBSP_FT_DHCP_SLAVE" feature.enable="0"
feature.name="BBSP_FT_ALG" feature.enable="0"
feature.name="BBSP_FT_UPNP_MAIN" feature.enable="0"
feature.name="BBSP_FT_UPNP_SLV" feature.enable="0"
feature.name="BBSP_FT_LAYER2BRIDGING" feature.enable="0"
feature.name="BBSP_FT_BRIDGEWAN_AUTO_PPPOEEM" feature.enable="0"
feature.name="BBSP_FT_SOFTGRE" feature.enable="0"
feature.name="BBSP_FT_RADIO_WAN_LOAD" feature.enable="0"
feature.name="BBSP_FT_PCP" feature.enable="0"
feature.name="FT_L2TP_VPN" feature.enable="0"
feature.name="FT_FEATURE_TDE" feature.enable="0"
feature.name="BBSP_FT_DMZ_INTERFACE" feature.enable="0"
feature.name="BBSP_FT_AUTO_VIDEODIAG" feature.enable="0"
feature.name="FT_PERFORMANCE_DIAGNOSE" feature.enable="0"
feature.name="BBSP_FT_CTCOM_MACFLT" feature.enable="0"
feature.name="FT_TDE_BRAZIL" feature.enable="0"
feature.name="FT_VLAN_TERMINATION" feature.enable="0"
feature.name="BBSP_FT_OPTION_POLICY" feature.enable="0"
feature.name="BBSP_FT_PORTAL" feature.enable="0" 
feature.name="BBSP_FT_IPTV_EMULATOR" feature.enable="0"
feature.name="BBSP_FT_ACCLIMIT" feature.enable="0"
feature.name="BBSP_FT_E8C_IPPINGDIAGNOSTICS" feature.enable="0"
feature.name="BBSP_FT_IPV6_DHCP6S" feature.enable="0"
feature.name="BBSP_FT_IPV6_LANDEV" feature.enable="0"
feature.name="BBSP_FT_REDIRECT" feature.enable="0"
feature.name="BBSP_FT_QOS_SPDLMT" feature.enable="0"
feature.name="FT_UNI_DEVICE_DETETION" feature.enable="0"

#接入模式:全交换
feature.name = "BBSP_FT_LOCAL_SWITCH" feature.enable="1"
#用于网页普通用户过滤非PPPOE路由WAN口，通用版本打开
feature.name="FT_NORMAL_ONLY_SHOW_PPPOE_INFO" feature.enable="1"

feature.name="FT_RIP_DYNAMIC_ROUTE" feature.enable="1"
feature.name="BBSP_FT_USERDEV_TRAFFIC" feature.enable="1"
feature.name="BBSP_FT_SAVE_USER_DEV" feature.enable="1"
#硬件流量监测开关
feature.name="FT_USERDEV_TRAFFIC_HARD_STAT" feature.enable="1"

feature.name="FT_SSMP_AP_OPERATION_SWITCH"  feature.enable="1"

feature.name="FT_SSMP_AP_STUN"  feature.enable="1"

feature.name="HW_SSMP_FEATURE_CWMP_TR111_P2"  feature.enable="1"

#开启下挂用户设备开关
feature.name="FT_LAN_DEV_ENABLE_LAY2" feature.enable="1"
#二层userdev和流量统计
feature.name="FT_LAN_DEV_LAY2_TRAFFIC" feature.enable="1"
#eth口流量统计支持二层设备
feature.name="FT_TRAFFIC_ETH_L2_STATS" feature.enable="1"
feature.name="BBSP_FT_UPNP_SNAT_DISABLE" feature.enable="1"

#PSI下发命令，踢掉在线用户
feature.name="FT_SSMP_KICKOFF_WEB_USER" feature.enable="0" 

feature.name = "BBSP_FT_URLFLT_IGNORE_FWLEVEL" feature.enable="1"
feature.name="FT_CHANGE_GUIDE_LEVEL"  feature.enable="1"
feature.name="HW_SSMP_WEB_MODIFY_AMDIN_PWD"  feature.enable="1"

#防止AP的BR0和DNS地址冲突
feature.name="FT_ADDRESS_CONFLICT_AND_SKIP" feature.enable="1"

#支持家庭网络扩展设备UPnP协议增强特性 通用版本打开
feature.name = "FT_WLAN_UPNP_EXPAND" feature.enable="1"

#支持“启用WiFi智能覆盖业务”的可配置选项（InternetGatewayDevice.X_HW_WifiCoverService.Enable）,对中国区三大T和通用版本打开
feature.name = "HW_AMP_FEATURE_UPNP_CONFIG" feature.enable="1"

# AP上打开WAN接口与BR0接口同网段冲突检查开关
feature.name="FT_ADDRESS_NOT_SAVE_DB" feature.enable="1"

#目前ap只有ghn设备才需要开启，wa都要关闭
feature.name="BBSP_FT_ARPPING" feature.enable="0"

feature.name="FT_MULTI_SERVICE_IPTV_PORT" feature.enable="1"
feature.name="HW_SSMP_FT_LAN_HTTPS_E" feature.enable="0"

feature.name="FT_DM_AUTOREBOOTBYWEEK" feature.enable="1"
feature.name="FT_DM_AUTOREBOOT_BYWEEK" feature.enable="0"
#支持ISP Locking
feature.name="FT_SSMP_ISP_LOCKING" feature.enable="1"
#支持三种灯状态
feature.name="BBSP_FT_INTERNET_LED_TRI_STATE" feature.enable="1"

feature.name="HW_SSMP_FEATURE_MESH" feature.enable="1"
#泰国AISAP需求，AP模式下，开启进程aisap
feature.name="FT_AISAP_MODE" feature.enable="1"
feature.name="FT_WEB_AISCTRL" feature.enable="1"
feature.name="FT_SSMP_KICKOFF_WEB_USER" feature.enable="0" 

#泰国AIS AP特性安全访问控制
feature.name = "BBSP_FT_AIS_NODETRANS" feature.enable="1"
feature.name = "FT_AIS_WAN_REMOTE_ACCESS_CTL" feature.enable="1"
#开启重定向功能时重定向http及https报文
feature.name="FT_WEB_DERICT_PAGE_SUPPORT" feature.enable="1"

feature.name="HW_SSMP_FEATURE_USB" feature.enable="0"
feature.name="HW_SSMP_FEATURE_DLNA" feature.enable="0"
feature.name="HW_SSMP_FEATURE_USBPRINTER" feature.enable="0"
feature.name="HW_SSMP_FEATURE_USBSTORAGE" feature.enable="0"
feature.name="SSMP_FT_SHOWFTPPAGE" feature.enable="0"
feature.name="FT_NEW_AP" feature.enable="0"

#泰国AIS WIFI上行与GE上行，解决5分钟内切换的限制
feature.name="SSMP_FT_REMOVE_USERGUIDE" feature.enable="1"
feature.name="FT_UP_MODE_CHANGE" feature.enable="1"

#新增特性开关,针对AP设备工作在桥接模式，注册响应WAN的UP/DOWN的事件函数
feature.name="FT_AP_WAN_STATE_FEATURE" feature.enable="1"

#泰国AIS AP定制特性开关
feature.name="FT_WLAN_AISAP" feature.enable="1"
feature.name="FT_WEB_AISACCESSCTRL" feature.enable="1"

#泰国AIS AP定制语音的特性开关
feature.name="HW_VSPA_FEATURE_VOIP" feature.enable="0"
feature.name="HW_SSMP_FT_LAN_UPPORT" feature.enable="1"
feature.name="FT_WIFI_AP_UP_MODE_OPEN" feature.enable="1"

#泰国AIS lan/wifi上行使用pon灯代替internet灯
feature.name="FT_PON_TO_INTERNET_LED" feature.enable="1"

#泰国AIS HG8245W5,WIFI 上行模式时支持和GE上行自动切换，GE上行为固定上行
feature.name="FT_AISAP_SUPPORT_LANETH_GE" feature.enable="0"

feature.name="FT_UPPORT_DETECT" feature.enable="1"
feature.name="FT_AP_AUTO_SELECT_UPPORT" feature.enable="1"

#泰国AIS HG8245W5,盲插模式 根据探测情况选择上行eth口
feature.name="FT_AISAP_AUTOSELECT_ETH_UPPORT" feature.enable="1"
feature.name="FT_WEB_HTTPONLY" feature.enable="1"

feature.name="BBSP_AIS_MODE_CHANGE" feature.enable="1"

#泰国AIS同步频宽开关
feature.name="FT_WLAN_SYNC_BANDWIDTH" feature.enable="1"

feature.name="FT_WLAN_SYNC_CHANNEL" feature.enable="1"

feature.name="HW_SSMP_FEATURE_WEB_ONLY_PWD" feature.enable="0"

feature.name="FT_AIS_MESH_API" feature.enable="1"
#泰国AIS在地址池耗尽时需要响应下挂设备的DHCP Discovery报文分配无效地址
feature.name="FT_OFFER_INVALIDIP" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CHECKCODE" feature.enable="1"
feature.name="BBSP_FT_FORCERENEW_LAN_UPDOWN" feature.enable="1"

#网关Ap定制下WPS sta模式点灯
feature.name="FT_WPS_LED_HG_STAMODE" feature.enable="1"

feature.name="FT_AIS_WIFI_BACKHAUL" feature.enable="1"

#泰国AISAP支持设置CPE重复利用状态及重复利用次数
feature.name="FT_AIS_CPE_REUSE" feature.enable="1"
#开启独立端口监听，支持lan侧https访问和路由模式保持一致。
feature.name="HW_FT_WEB_INDEPEND_HTTPS_PORT" feature.enable="1"