#通用的二次定制的Feature.cfg文件
#通用部分SSMP目前完全符合产品的Feature.cfg。请其他领域各自添加自己的二次定制。
feature.name="HW_SSMP_FEATURE_DEVICEINFO" feature.enable="1"
feature.name="HW_SSMP_FEATURE_RESET_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="0"
feature.name="HW_SSMP_FEATURE_DM_LEDSWITCH" feature.enable="1"
feature.name="HW_SSMP_FEATURE_MODIFYPWDPAGE" feature.enable="0"

#不存在网页管理员用户
feature.name="HW_SSMP_FEATURE_WEBADMIN_EXIST" feature.enable="0"
#BBSP部分
feature.name = "BBSP_FT_PTVDFB" feature.enable="1"
feature.name="BBSP_FT_SELECT_ORG_DNS" feature.enable="1"

feature.name="HW_SSMP_FEATURE_PTVDFB" feature.enable="1"

#AMP部分
feature.name="HW_AMP_FEATURE_COMMON" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CONTROL" feature.enable="0" 
feature.name = "BBSP_FT_PARENTAL_CTRL_URL_FLT" feature.enable="1" 
feature.name = "BBSP_FT_PARENTAL_CTRL_URL_MODE" feature.enable="1"
feature.name="HW_AMP_FEATURE_FORBID_SN" feature.enable="1"
feature.name="HW_AMP_FEATURE_RECUR_JUMP" feature.enable="1"

#PSI下发命令，踢掉在线用户
feature.name="FT_SSMP_KICKOFF_WEB_USER" feature.enable="0" 

feature.name="FT_WEB_SHOW_PWD_TIPS" feature.enable="1"

#支持PT-VDF guest-wifi PTVDF定制打开
feature.name="FT_LAN_MULTI_IP" feature.enable="1"
feature.name="FT_CHECK_LANIP_ROUTE_CONFLICT" feature.enable="1"
feature.name="BBSP_FT_DEL_SLV_POOL" feature.enable="1"

#微动开关保存数据库
feature.name="HW_SSMP_FEATURE_KEYSAVE_SUPPORT" feature.enable="1"

feature.name="FT_WEB_DERICT_PAGE_SUPPORT" feature.enable="1"
#PTVDF开启防端口扫描和防DOS攻击
feature.name="BBSP_FT_DOS_ATTACKER_DETECT" feature.enable="1"
feature.name="BBSP_FT_DOS_HARDWARE_CAR" feature.enable="1"
#DMZ校验ip是否跟br0同网段
feature.name="BBSP_FT_DMZ_CHECK_BR0IP" feature.enable="1"

feature.name="CADENCE_INTERNET_LED_FOR_VDF" feature.enable="1" feature.attribute="1"