spec.name="SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x00004000"
spec.name="SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="3"
spec.name="SPEC_DATA_MODEL_MAP" spec.type="string" spec.value="/etc/wap/tr069_view/DataView_tr069_totalplay.bin"

spec.name="SSMP_SPEC_WEB_FRAME" spec.type="string" spec.value="frame_XGPON"
spec.name="SSMP_SPEC_WEB_MENUXML" spec.type="string" spec.value="MenuTotalplayV5.xml"

spec.name="BBSP_SPEC_DNS_DOMAINNAME" spec.type="string" spec.value=""
spec.name="BBSP_SPEC_LAN_DHCPADDMIN" spec.type="string" spec.value=""
spec.name="BBSP_SPEC_LAN_DHCPADDMAX" spec.type="string" spec.value=""

#[ssmp DM spec]
spec.name="SSMP_SPEC_DM_TIMEFORRESETCFG" spec.type="uint" spec.value="180"
spec.name="SSMP_SPEC_DM_WINDOW_FORRESETCFG" spec.type="uint" spec.value="30"
spec.name = "SSMP_SPEC_DM_RESETKEY_MAXTIME" spec.type="uint" spec.value="240"
spec.name="SSMP_SPEC_WEB_MM_CFG_XML" spec.type="string" spec.value="hw_totalplay_mm_cfg.xml"

#[AMP spec]
spec.name = "AMP_SPEC_SSID_NUM_MAX_BAND" spec.type="uint" spec.value="8"