spec.name="SSMP_SPEC_WEB_FRAME" spec.type="string" spec.value="frame_XGPON"
spec.name="SSMP_SPEC_WEB_MENUXML" spec.type="string" spec.value="MenuNOS2.xml"
spec.name="SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x80004000"
spec.name="SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="3"
spec.name="BBSP_SPEC_DNS_DOMAINNAME" spec.type="string" spec.value="routertecnico.home"
spec.name="BBSP_SPEC_LAN_DHCPADDMIN" spec.type="string" spec.value=""
spec.name="BBSP_SPEC_LAN_DHCPADDMAX" spec.type="string" spec.value=""
spec.name = "BBSP_SPEC_RIP_RATE" spec.type="uint" spec.value="40"
spec.name = "BBSP_SPEC_RIP_ROUTENUM" spec.type="uint" spec.value="128"
spec.name="SSMP_SPEC_PLUGIN_APILIST" spec.type="string" spec.value="plugin_api"
spec.name="OSGI_SPEC_SYSBUNDLE_LIST" spec.type="string" spec.value="/etc/wap/customize/plugin_sys"
spec.name="OSGI_SPEC_SECURITY_CFG" spec.type="string" spec.value="/etc/wap/customize/cpa.txt"
spec.name="OSGI_SPEC_FORBID_PREBUNDLE_LIST" spec.type="string" spec.value="/etc/wap/customize/plugin_pre"
spec.name="SPEC_DATA_MODEL_MAP" spec.type="string" spec.value="/etc/wap/tr069_view/DataView_tr069_nos2.bin"
spec.name="SPEC_DATA_TR181_MAP" spec.type="string" spec.value="/etc/wap/tr181_view/DataView_tr181_nos2.bin"
spec.name="SPEC_DHCP_BACKOFF_DURATION" spec.type="string" spec.value="0/3-5/7-9/15-17/31-33/63-64/session_loop"
spec.name="BBSP_SPEC_AUTO_DHCP_SENTOPTION" spec.type="string" spec.value="TR069_INTERNET-43-11;VOIP-43-2;IPTV-43-3;"
spec.name="SPEC_SSL_ENABLE_DEPCIPHER" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_CLI_CUSTOMIZE_CMDLIST" spec.type="string" spec.value="cmd_nos2.xml"

spec.name="SPEC_WEBPA_WMEMMIN" spec.type="uint" spec.value="4096"
spec.name="SPEC_WEBPA_WMEMMAX" spec.type="uint" spec.value="655360"
spec.name="SPEC_WEBPA_WMEMDEFAULT" spec.type="uint" spec.value="655360"

#SSID支持的MacFilter数目
spec.name = "AMP_SPEC_MAX_MACFILTER_NUM" spec.type="uint" spec.value="32"