spec.name="SSMP_SPEC_CUSTOM_DESCRIPTION" spec.type="string" spec.value="tde"
spec.name="SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="3"
spec.name="SSMP_SPEC_WEB_MM_CFG_XML" spec.type="string" spec.value="hw_tde_mm_cfg.xml"
spec.name="SSMP_SPEC_WEB_MENUXML" spec.type="string" spec.value="MenuAbroad.xml"
spec.name="SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x80004000"
spec.name="SSMP_SPEC_CLI_CUSTOMIZE_CMDLIST" spec.type="string" spec.value="cmd_tde.xml"
spec.name="SPEC_DATA_MODEL_MAP" spec.type="string" spec.value="/etc/wap/tr069_view/DataView_tr069_tde.bin"

#[amp Custom spec]
spec.name="AMP_SPEC_MULTI_SUB_CFG_ATTR_SIX" spec.type="uint" spec.value="0"
#[amp Custom spec end]

#[bbsp Custom spec]
spec.name = "BBSP_SPEC_UNKNOW_DN_UC_FWD" spec.type="uint" spec.value="0"
spec.name = "BBSP_SPEC_UNKNOW_UP_UC_FWD" spec.type="uint" spec.value="0"
spec.name = "BBSP_SPEC_UNKNOW_DN_MC_FWD" spec.type="uint" spec.value="0"
spec.name = "BBSP_SPEC_UNKNOW_UP_MC_FWD" spec.type="uint" spec.value="0"
spec.name = "BBSP_SPEC_UNKNOW_DN_BC_FWD" spec.type="uint" spec.value="0"
spec.name = "BBSP_SPEC_UNKNOW_UP_BC_FWD" spec.type="uint" spec.value="0"
#[bbsp Custom spec end]

