spec.name="SSMP_SPEC_WEB_MENUXML" spec.type="string" spec.value="MenuViettel.xml"
spec.name="SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x00004000"
spec.name="SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="3"
spec.name="SSMP_SPEC_WEB_NO_AUTH_PAGE" spec.type="string" spec.value="md5.js;RndSecurityFormat.js;mm.cgi;ssmpdes.js;jquery.min.js;httpsdirect.asp;GetRandCount.asp;safelogin.js;util.js;ResetWithOutLogIn.cgi"
# WEB知名端口
spec.name="SPEC_NOTED_PORT_FOR_WEB" spec.type="string" spec.value="21,23,22,53,7547,49652,49653,139,445,56001,56002,1026,9090,69,8090,5060,9002,9003,2944,9017,9016,60001,60002,17998,65022,65443,50000,50001,50002,50003,50004,50005,50006,50007,50008,50009,50010,50011,50012,50013,50014,50015,50016,50017,50018,50019,50020,50021,50022,50023,50024,50025,50026,50027,50028,50029,50030,50031,50032"

spec.name="BBSP_SPEC_DNS_DOMAINNAME" spec.type="string" spec.value=""
spec.name="BBSP_SPEC_LAN_DHCPADDMIN" spec.type="string" spec.value=""
spec.name="BBSP_SPEC_LAN_DHCPADDMAX" spec.type="string" spec.value=""


spec.name = "BBSP_SPEC_RIP_RATE" spec.type="uint" spec.value="40"
spec.name = "BBSP_SPEC_RIP_ROUTENUM" spec.type="uint" spec.value="128"

#dhcp拨号间隔
spec.name = "SPEC_DHCP_BACKOFF_DURATION" spec.type="string" spec.value="0-30/44-84/88-168/total300/5-30/session_loop"

#缺省值0表示无定制，针对越南Viettel则定制为0x86;
spec.name = "SPEC_OMCC_VERSION" spec.type="uint" spec.value="134"

#SSMP_SPEC_WEB_PWDTYPE为空或为1都表示标准校验，为2表示简单校验
spec.name="SSMP_SPEC_WEB_PWDTYPE" spec.type="uint" spec.value="3"

spec.name="SPEC_SSMP_CHKPWD_LENGTH" spec.type="uint" spec.value="6"

#越南定制pppoe拨号间隔
spec.name = "SPEC_PPPOE_BACKOFF_DURATION" spec.type="string" spec.value="0-10/5/10/20/40/60-120/session_loop"

spec.name="SPEC_DATA_MODEL_MAP" spec.type="string" spec.value="/etc/wap/tr069_view/DataView_tr069_viettel.bin"

#ALMCR2019111232178663 (0.基于每个用户限制IPv4&IPv6 1.基于全局仅限制IPv4)
spec.name="BBSP_SPEC_SESSION_LIMIT_Mode" spec.type="uint" spec.value="0"