#通用的二次定制的Feature.cfg文件
#通用部分SSMP目前完全符合产品的Feature.cfg。请其他领域各自添加自己的二次定制。
feature.name="HW_SSMP_FEATURE_RESET_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="0"
feature.name="HW_SSMP_FEATURE_DM_LEDSWITCH" feature.enable="1"
feature.name="HW_SSMP_FEATURE_SHOWTR069INFO" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CPE_KEEPALIVE" feature.enable="1"
feature.name="HW_SSMP_FEATURE_GET_FROM_DB" feature.enable="1"
feature.name="HW_SSMP_WEB_MODIFY_AMDIN_PWD" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLOSE_HTTPS" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CHECKCODE" feature.enable="1"
feature.name="HW_SSMP_FT_WEB_3BBJUMP" feature.enable="1"

#AMP部分
feature.name="HW_AMP_FEATURE_COMMON" feature.enable="1"
feature.name="HW_AMP_FEATURE_TRIPLET_3BB" feature.enable="1"
feature.name="HW_AMP_FEATURE_RECUR_JUMP" feature.enable="1"

#BBSP定制部分
feature.name="BBSP_FT_TRIPLET" feature.enable="1"
#TR098桥模型
feature.name="BBSP_FT_LAYER2BRIDGING"     feature.enable="1" 
feature.name="BBSP_FT_DHCPS_COND_POOL"   feature.enable="1"  
#访问Internet WEB失败重定向 3bb特性
feature.name="BBSP_FT_REDIRECT_DEF_PPP_WAN" feature.enable="1"
#display wan layer all可以显示pppoe wan用户名密码
feature.name="BBSP_FT_CMD_SHOW_PPPOE_WAN" feature.enable="1"
#display dhcpsrv info可以显示主从地址池和userdev信息
feature.name="BBSP_FT_DISPLAY_DHCP_SVR_INFO" feature.enable="1"
#wan侧dns报文是否丢弃
#iptables -A INPUT_SERVICE -p tcp --destination-port 53 -i wan+ -j DROP ...
feature.name="BBSP_FT_DROP_NNI_DNS" feature.enable="1"
feature.name="BBSP_FT_TR098_OBJECT_NOEFFECT" feature.enable="1"

feature.name="BBSP_FT_PARENTAL_CONTROL" feature.enable="0" 
feature.name = "BBSP_FT_PARENTAL_CTRL_URL_FLT" feature.enable="1" 
feature.name = "BBSP_FT_PARENTAL_CTRL_URL_MODE" feature.enable="1"
feature.name="WAN_WHITELIST_HTTP_PROTOCOL" feature.enable="1" 

#internet灯三态控制特性
feature.name="BBSP_FT_INTERNET_LED_TRI_STATE" feature.enable="1"
#internet灯是否存在
feature.name="BBSP_FT_INTERNET_LED_EXIST" feature.enable="1"

feature.name="BBSP_FT_SNAT_IPMAPPING" feature.enable="1"
feature.name="BBSP_FT_PUBLIC_IP" feature.enable="1"

#Triple T 二期新增特性开关四个，条件地址池和layer l2bridging 功能的特性开关 BBSP_FT_DHCPS_COND_POOL BBSP_FT_LAYER2BRIDGING在TR098模型中已开启

feature.name="FT_BBSP_DHCPR" feature.enable="1" 
feature.name="FT_BBSP_COND_DOMAIN_NAME" feature.enable="1" 

#开启IPv6状态防火墙/Port mapping/IPv6地址过滤
feature.name = "BBSP_FT_CONFIG_IPV6_SESSION" feature.enable="1"
feature.name = "BBSP_FT_IPV6_PORTMAPPING" feature.enable="1"
feature.name = "BBSP_FT_IPV6_IPFILTER" feature.enable="1"
feature.name = "BBSP_FT_TR069_CONFIG_IPFILTER" feature.enable="1"


#提升泰国Triple T ONT ICMP PING报文优先级
feature.name = "FT_ICMPPING_OPTIMIZE_HIGHPRI" feature.enable="1" 

#PSI下发命令，踢掉在线用户
feature.name="FT_SSMP_KICKOFF_WEB_USER" feature.enable="0" 

feature.name = "FT_WLAN_NOT_TRIM_SSID" feature.enable="1"

#泰国TripleT定制，注册认证失败静默30~60min重试
feature.name="FT_APPM_REGIST_PLAT_RANDTIME" feature.enable="1"

feature.name="FT_WEB_DERICT_PAGE_SUPPORT" feature.enable="1"

#1.OneTrack_main#7428 TripleT游戏加速控制业务口节点20191008
feature.name="BBSP_FT_PORT_SERV_IDENTIFY" feature.enable="1"
feature.name="FT_OPT60_ANY_P_ANY_S_DEF_POOL" feature.enable="1"
feature.name="BBSP_FT_OPT60_RT_APPLY_IPV6" feature.enable="1"
feature.name="BBSP_FT_OPT60_RT_AUTO_ADPT_EGR" feature.enable="1"

#EAI应用识别功能
feature.name="FT_EAI_APP_SUPPORT" feature.enable="1"
feature.name="FT_EAI_APP_IDENTIFY" feature.enable="1"

#游戏加速 EDCA参数配置
feature.name="FT_WLAN_EDCA_SUPPORT" feature.enable="1"

#TripleT开启Web管理员用户查看wifi密码特性开关
feature.name="AMP_FT_WIFI_PWD_SHOW" feature.enable="1"