# 公用的spec.cfg文件
spec.include="base_ssmp_spec_encrypt.cfg"

# [ssmp web spec]
spec.name="SSMP_SPEC_WEB_ENABLE" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_MAXCONNUMPERSEC" spec.type="uint" spec.value="1000"
spec.name="SSMP_SPEC_WEB_MAXCONNUMTOTAL" spec.type="uint" spec.value="28"
spec.name="SSMP_SPEC_WEB_MAXPWDLEN" spec.type="uint" spec.value="128"
spec.name="SSMP_SPEC_WEB_MAXNAMELEN" spec.type="uint" spec.value="33"
spec.name="SSMP_SPEC_WEB_MINPWDLEN" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_WEB_MINNAMELEN" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_WEB_PORTNUM" spec.type="uint" spec.value="80"
spec.name="SSMP_SPEC_WEB_OUTPORTNUM" spec.type="uint" spec.value="80"
spec.name="SSMP_SPEC_WEB_LISTENMODE" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_WEB_AUTOTIMEOUT" spec.type="uint" spec.value="10"
spec.name="SSMP_SPEC_WEB_FRAME" spec.type="string" spec.value="frame_huawei"
spec.name="SSMP_SPEC_WEB_LANGUAGE_SET" spec.type="string" spec.value="english"
spec.name="SSMP_SPEC_WEB_LANGUAGE" spec.type="string" spec.value="english"
spec.name="SSMP_SPEC_WEB_MENUXML" spec.type="string" spec.value="menu.xml"
spec.name="SSMP_SPEC_WEB_SHOWCPUMEM" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_CLEANOUTOFHEART" spec.type="uint" spec.value="60"
spec.name="SSMP_SPEC_WEB_CLEANOUTOFOPT" spec.type="uint" spec.value="300"
spec.name="SSMP_SPEC_WEB_TRY_LOGIN_TIMES" spec.type="uint" spec.value="3"
spec.name="SSMP_SPEC_WEB_LOGIN_INTERVAL" spec.type="uint" spec.value="60"
spec.name="SSMP_SPEC_WEB_CLR_FAILNUM_ITV" spec.type="uint" spec.value="120"
spec.name="SSMP_SPEC_WEB_SHOW_UNMD5_PWD" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_WEB_SHOW_HINTPWD" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="3"
spec.name="SSMP_SPEC_WEB_NO_AUTH_OBJ" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_WEB_MAX_USER" spec.type="uint" spec.value="2"
spec.name="SSMP_SPEC_CWMP_PREFIX_FROM" spec.type="string" spec.value=""                                                     
spec.name="SSMP_SPEC_CWMP_PREFIX_TO" spec.type="string" spec.value="" 
spec.name="SSMP_SPEC_WEB_MM_ENABLE" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_MM_CFG_XML" spec.type="string" spec.value="hw_common_mm_cfg.xml"
spec.name="SSMP_SPEC_ARPPING_PERIOD" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_WEB_LOGINPAGE" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_WEB_MOD_PWD_FAIL_TIME" spec.type="uint" spec.value="3"
spec.name="SPEC_SSMP_CHKPWD_LENGTH" spec.type="uint" spec.value="6"
spec.name="SSMP_SPEC_WEB_ADMIN_INDEXASP" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_WEB_NORMAL_INDEXASP" spec.type="string" spec.value=""
spec.name="SPEC_SSMP_WEBLOGOUT_SHOWPARA" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_WEB_ADMIN_LOG_LEVEL" spec.type="uint" spec.value="0"
spec.name="CWMP_SPEC_TRANSCOMPLE_VERSION" spec.type="string" spec.value="V300R016C10SPC100B011"
spec.name="SSMP_SPEC_WEB_FILEFLAG_TIME" spec.type="uint" spec.value="60"
spec.name="SSMP_SPEC_SPEEDTEST_STOP_TIME" spec.type="uint" spec.value="15"
spec.name="SPEC_VERSION_PRE_FIX" spec.type="string" spec.value=""
spec.name="SPEC_IACCESS_SECONDPLAT_URL" spec.type="string" spec.value=""
spec.name="SPEC_SEND_SPEEDTEST_DELAY" spec.type="uint" spec.value="0"
spec.name="UPNP_SENDTHREADPOLL_MAXNUM" spec.type="uint" spec.value="24"
spec.name="SPEC_NO_HTTPS_JUMP" spec.type="string" spec.value=""
spec.name="SPEC_SEGMENT_HTTP_CONNECT_NUM" spec.type="uint" spec.value="4"
spec.name="SPEC_SEGMENT_IPERF_CONNECT_NUM" spec.type="uint" spec.value="4"
spec.name="SPEC_ACS_SWITCH_PRESET" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_WEB_ALARM_LOGIN_TIMES" spec.type="uint" spec.value="10"
spec.name="SSMP_SPEC_WEB_APPDATA" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_WEB_APPCODE" spec.type="string" spec.value=""
spec.name="SPEC_POPUP_QRCODE_URL" spec.type="string" spec.value=""
spec.name="SPEC_POPUP_TYPE" spec.type="uint" spec.value="0"
# [ssmp web spec end]

#[ssmp swm spec]
spec.name="SSMP_SPEC_SWM_BUFFERSIZE" spec.type="uint" spec.value="0x100000"
spec.name="SSMP_SPEC_SWM_MAXCHNL" spec.type="uint" spec.value="16"
spec.name="SSMP_SPEC_SWM_MAXDEV" spec.type="uint" spec.value="8"
spec.name="SSMP_SPEC_SWM_PACKMAXITEMNUM" spec.type="uint" spec.value="16"
spec.name="SSMP_SPEC_SWM_BOOTCOUNTADDR" spec.type="uint" spec.value="0x933FF000"
spec.name="SSMP_SPEC_SWM_FLASHCONFIGLEN" spec.type="uint" spec.value="0x1000"
spec.name="SSMP_SPEC_SWM_PACKMARKV1" spec.type="uint" spec.value="0x50545748"
spec.name="SSMP_SPEC_SWM_PACKMARKV2" spec.type="uint" spec.value="0x504E5748"
spec.name="HW_SPEC_APP_UPGRADECHECK_SPACE" spec.type="uint" spec.value="5120"
spec.name="HW_SPEC_CHECKIMGUPG_SPACE" spec.type="uint" spec.value="1024"
spec.name="SSMP_SPEC_CONFIG_ENCRYPTION_KEY" spec.type="string" spec.value=""
#[ssmp swm spec end]

#[ssmp Msg spec]
spec.name="SSMP_SPEC_MSG_PROCMAX" spec.type="uint" spec.value="30"
spec.name="SSMP_SPEC_MSG_MODULEMAX" spec.type="uint" spec.value="20"
spec.name="SSMP_SPEC_MSG_GROUPMAX" spec.type="uint" spec.value="2"
spec.name="SSMP_SPEC_MSG_TRACEMAX" spec.type="uint" spec.value="8"
spec.name="SSMP_SPEC_MSG_STATMAX" spec.type="uint" spec.value="16"
spec.name="SSMP_SPEC_MSG_MQLENMAX" spec.type="uint" spec.value="4096"
spec.name="SSMP_SPEC_MSG_MQNUMMAX" spec.type="uint" spec.value="1024"
#[ssmp Msg spec end]

#[ssmp CFM spec]
spec.name="SSMP_SPEC_CFM_MAXOBJNUM" spec.type="uint" spec.value="60"
#[ssmp CFM spec end]

#[ssmp CFG spec]
spec.name="SSMP_SPEC_CFG_CALLWAITTIME" spec.type="uint" spec.value="20000"
#[ssmp CFG spec end]

#[ssmp CLI spec]
spec.name="SSMP_SPEC_CLI_ENABLE" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_USERMAXLEN" spec.type="uint" spec.value="32"
spec.name="SSMP_SPEC_CLI_USERPWDLEN" spec.type="uint" spec.value="64"
spec.name="SSMP_SPEC_CLI_MAXTELNETNUM" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_HISTORYNUM" spec.type="uint" spec.value="20"
spec.name="SSMP_SPEC_CLI_TELNETPORTID" spec.type="uint" spec.value="23"
spec.name="SSMP_SPEC_CLI_PROMPT" spec.type="string" spec.value="WAP"
spec.name="SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x00004000"
spec.name="SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SPEC_CLI_MGIC" spec.type="string" spec.value=""
#[ssmp CLI spec end]

#[ssmp DM spec]
spec.name="SSMP_SPEC_DM_TIMEFORREBOOTSYS" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_DM_TIMEFORRESETCFG" spec.type="uint" spec.value="10"
spec.name="SSMP_SPEC_DM_WINDOW_FORRESETCFG" spec.type="uint" spec.value="10"
spec.name="SSMP_SPEC_DM_TIMEFORLOCALCFG" spec.type="uint" spec.value="10000"
spec.name="SSMP_SPEC_DM_TIMEFORCFGGAP" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_DM_TIMEFORLEDSWTICH" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_PLUGIN_APILIST" spec.type="string" spec.value=""
#[ssmp DM spec end]

#[ssmp Cwmp spec]
spec.name="SSMP_SPEC_CWMP_ACSURLLEN" spec.type="uint" spec.value="256"
spec.name="SSMP_SPEC_CWMP_HTTPSERVERPORTID" spec.type="uint" spec.value="7547"
spec.name="SSMP_SPEC_CWMP_BBFINSTENABLE" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_CWMP_VENDOR" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_CWMP_SERVER_PORT" spec.type="uint" spec.value="7547"
spec.name="SSMP_SPEC_CWMP_AUTH_TYPE" spec.type="string" spec.value="Digest"
spec.name="SSMP_SPEC_CWMP_SSL_AUTH_TYPE" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_CWMP_TR111_ENABLE" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CWMP_OPTION43" spec.type="uint" spec.value="0"
spec.name="SSMP_SPEC_CWMP_PATH" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_CWMP_KEEPALIVE" spec.type="uint" spec.value="5"
spec.name="SSMP_SPEC_CWMP_SCCTLOID" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_ISP_FIRST_DELAY" spec.type="uint" spec.value="86400"
spec.name="SSMP_SPEC_ISP_RECHECK_PERIOD" spec.type="uint" spec.value="3600"
#[ssmp Cwmp spec end]

#[ssmp USD spec]
spec.name="SSMP_SPEC_QUICK_DIR" spec.type="string" spec.value="hw_Config_Backup"
spec.name="SSMP_SPEC_QUICK_FILENAME" spec.type="string" spec.value="hw"
spec.name="SSMP_SPEC_USB_SCSI_DISK_MAX" spec.type="uint" spec.value="2"
spec.name="SSMP_SPEC_USB_DEV_MAX_PART_NUM" spec.type="uint" spec.value="30"
#[ssmp USD spec end]

#[ssmp log spec]
spec.name="SSMP_SPEC_LOG_SAVETIME" spec.type="uint" spec.value="3600"
#[ssmp log spec end]

#[ssmp APM spec]
spec.name="SSMP_SPEC_APM_BATTERYCHANGETIME" spec.type="uint" spec.value="5"
spec.name="SSMP_SPEC_APM_BTOE_CHANGETIME" spec.type="uint" spec.value="5"
spec.name="SSMP_SPEC_APM_BOOTDELAY" spec.type="uint" spec.value="60"
spec.name="SSMP_SPEC_APM_MAXDEVICE" spec.type="uint" spec.value="32"
#[ssmp APM spec end]

#[ssmp Custom spec]
spec.name="SSMP_SPEC_CUSTOM_DESCRIPTION" spec.type="string" spec.value="common"
#[ssmp Custom spec end]

#[ssmp DLNA spec]
spec.name="SSMP_SPEC_DLNA_SHARE_LIMIT" spec.type="uint" spec.value="20000"
spec.name="SSMP_SPEC_DLNA_PLAY_TOTAL" spec.type="uint" spec.value="4"
spec.name="UPNP_MIN_THREAD_NUM" spec.type="uint" spec.value="2"
spec.name="UPNP_MAX_THREAD_NUM" spec.type="uint" spec.value="12"
#[ssmp DLNA spec end]

#[ssmp SIM spec spec]
spec.name="SSMP_SPEC_DM_SIMRESETSHORTTIME" spec.type="uint" spec.value="2"
#[ssmp SIM spec end]

#[ssmp LED spec]
spec.name = "SPEC_RESETSHORT_LED_FREQUENCE" spec.type="uint" spec.value="0"
spec.name = "SPEC_LOACALRESET_LED_FREQUENCE" spec.type="uint" spec.value="0"
spec.name = "SPEC_REMOTELRESET_LED_FREQUENCE" spec.type="uint" spec.value="0"
#[ssmp LED end]

#[ssmp monitor file prefix spec]
spec.name="SPEC_MONITOR_FILE_PREFIX" spec.type="uint" spec.value="0"
#[ssmp file prefix end]

#[ssmp umts spec]
spec.name="SPEC_LTE_NET_MODE" spec.type="uint" spec.value="4"
#[ssmp umts end]

spec.name="SSMP_SPEC_CUPS_BUFSIZE" spec.type="uint" spec.value="8"

spec.name="SSMP_SPEC_APP_TESTURL" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_APP_REPORTURL" spec.type="string" spec.value=""

spec.name="SSMP_SPEC_SPEETTEST_CHANNEL" spec.type="string" spec.value=""

#[qoe preset spec]
spec.name="SPEC_QOE_PRESET" spec.type="string" spec.value=""
spec.name="SPEC_GASY_WHITELIST_PRESET" spec.type="string" spec.value=""
#[qoe preset spec end]

#[ssmp webpa spec]
# tcp协议栈参数调整，解决GPV超时问题
spec.name="SPEC_WEBPA_WMEMMIN" spec.type="uint" spec.value="0"
spec.name="SPEC_WEBPA_WMEMMAX" spec.type="uint" spec.value="0"
spec.name="SPEC_WEBPA_WMEMDEFAULT" spec.type="uint" spec.value="0"
#[ssmp webpa spec end]

#去掉测速前2s抖动结果，测速时间延长2s
spec.name="SPEC_TR143_DELAYTIME" spec.type="uint" spec.value="2"

#OSGi security spec
spec.name="OSGI_SPEC_SECURITY_CFG" spec.type="string" spec.value="/etc/wap/customize/cpa.txt"

#bjunicom测速上报产品名添加GPON、EPON后缀型号列表
spec.name="SSMP_SPEC_BJUNICOM_PDLIST" spec.type="string" spec.value=""

#HTTP PROXY 代理超时时间
spec.name="SPEC_HTTP_PROXY_BUFFER" spec.type="uint" spec.value="524288"
spec.name="SPEC_HTTP_PROXY_REC_TIMEOUT" spec.type="uint" spec.value="700"

spec.name="SPEC_DATA_TR181_MAP" spec.type="string" spec.value=""

spec.name = "SPEC_TR143_WAITTIME" spec.type="uint" spec.value="0"

spec.name="SSMP_SPEC_CLI_LOGIN_PROMPT_STR" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_CLI_SHELL_PROMPT_STR" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_CLI_CLOSE_WAITTIME" spec.type="uint" spec.value="0"

#SSMP_SPEC_WEB_PWDTYPE为空或为1都表示标准校验，为2表示简单校验
spec.name="SSMP_SPEC_WEB_PWDTYPE" spec.type="uint" spec.value="1"

#TDE定制hw_ctree.xml加密的key值
spec.name="SSMP_SPEC_CONFIG_ENCRYPTION_KEY" spec.type="string" spec.value=""

#取值为0时，表示现有默认的格式，使用cyassl;取值为1时，表示现有TDE的格式，使用openssl
spec.name="SPEC_SYSLOG_SSL_COMPONENT" spec.type="uint" spec.value="1"
#取值为0时，表示现有默认的格式，默认为该规格;取值为1时，表示现有TDE的格式
spec.name="SPEC_SYSLOG_FORMAT" spec.type="uint" spec.value="0"
#取值为0时，表示syslog不保存flash;取值为1时，表示保存flash
spec.name="SPEC_SYSLOG_SAVEFLASH" spec.type="uint" spec.value="1"
#+号表示对应类型的日志可以发送， 多个类型用分号隔离。
spec.name="SPEC_SYSLOG_FILTER_FACILITY" spec.type="string" spec.value="0;1;2;3;4;5;6;7;8;9;10;11;12;13;14;15;16;17;18;19;20;21;22;23"

spec.name = "SPEC_MMNGX_DLWAITTIME" spec.type="uint" spec.value="0"
spec.name="SPEC_WEB_TRY_BIND_CNT" spec.type="uint" spec.value="300"

#需要平滑权限的插件列表
spec.name = "SPEC_JVM_SMOOTH_LIST" spec.type="string" spec.value="/etc/wap/customize/plugin_pre_smooth"
spec.name = "SSMP_SPEC_AGENT_OBJPERM" spec.type="string" spec.value="/etc/wap/customize/plugin_objperm"

spec.name = "SSMP_SPEC_DM_LEDKEY_MAXTIME" spec.type="uint" spec.value="10"
spec.name = "SSMP_SPEC_DM_RESETKEY_MAXTIME" spec.type="uint" spec.value="60"

#产品形态spec区分;PON 0;DSL 1;CM 2;
spec.name = "SPEC_PRODUCT_TYPE" spec.type="uint" spec.value="0"

spec.name = "SPEC_JVM_CPU_LIMIT" spec.type="uint" spec.value="45"
spec.name = "SPEC_JVM_HEAP_LIMIT" spec.type="uint" spec.value="50"
spec.name = "SPEC_JVM_FILEID_LIMIT" spec.type="uint" spec.value="512"
spec.name = "SSMP_SPEC_DIDO_ASSOCIATE_POLICY" spec.type="uint" spec.value="0"

spec.name="SPEC_GXB_SNTP3_PATH" spec.type="string" spec.value=""
spec.name="SPEC_GXB_TRACE_PATH" spec.type="string" spec.value=""
spec.name="SPEC_GXB_SPEEDTEST_PATH" spec.type="string" spec.value=""
spec.name="SPEC_GXB_SERVER_URL1" spec.type="string" spec.value=""
spec.name="SPEC_GXB_SERVER_URL2" spec.type="string" spec.value=""
spec.name="SPEC_GXB_POSTPATH" spec.type="string" spec.value=""
spec.name="SPEC_GXB_POSTPATH2" spec.type="string" spec.value=""
spec.name="SPEC_GXB_SPEEDTEST1" spec.type="string" spec.value=""
spec.name="SPEC_GXB_SPEEDTEST2" spec.type="string" spec.value=""
#海南联通修改wan类型从路由到桥接，需要输入校验码
spec.name="SPEC_WANCONNTYPE_MODIFYCODE" spec.type="string" spec.value=""
#LTE 通信相关SPEC
spec.name="SPEC_LTEWAN_MAC" spec.type="string" spec.value=""
spec.name="SPEC_LTEWAN_GATEWAYMAC" spec.type="string" spec.value=""
spec.name="SPEC_LTEWAN_IPV6GATEWAY" spec.type="string" spec.value=""
#AWIFI默认服务器地址配置
spec.name="SPEC_AWIFI_DEFAULT_UPGRADE_URL" spec.type="string" spec.value=""
spec.name="SPEC_AWIFI_DEFAULT_REPORT_URL" spec.type="string" spec.value=""
#双机通信通信相关SPEC
spec.name="SSMP_SPEC_DEVSCOM_DSL_IP" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_DEVSCOM_LTE_IP" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_DEVSCOM_NETMASK" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_DEVSCOM_COMPORT" spec.type="uint" spec.value="0"
spec.name="SPEC_SAFE_RESET_CFG" spec.type="uint" spec.value="0"
#DLNA功能端口
spec.name="SPEC_DLNA_SERVER_PORT" spec.type="uint" spec.value="56001"
spec.name="SPEC_DLNA_CLIENT_PORT" spec.type="uint" spec.value="56002"


spec.name="SPEC_PROD_REQUEST_USERNAME" spec.type="string" spec.value=""
spec.name="SPEC_PROD_REQUEST_PASSWORD" spec.type="string" spec.value=""
spec.name="SPEC_PROD_ACS_URL" spec.type="string" spec.value=""
spec.name="SPEC_PROD_USERNAME" spec.type="string" spec.value=""
spec.name="SPEC_PROD_PASSWORD" spec.type="string" spec.value=""
spec.name="SPEC_PROD_INFORM_ENABLE" spec.type="uint" spec.value=""
spec.name="SPEC_PROD_INFORM_INTERVAL" spec.type="uint" spec.value=""
spec.name="SPEC_STAG_REQUEST_USERNAME" spec.type="string" spec.value=""
spec.name="SPEC_STAG_REQUEST_PASSWORD" spec.type="string" spec.value=""
spec.name="SPEC_STAG_ACS_URL" spec.type="string" spec.value=""
spec.name="SPEC_STAG_USERNAME" spec.type="string" spec.value=""
spec.name="SPEC_STAG_PASSWORD" spec.type="string" spec.value=""
spec.name="SPEC_STAG_INFORM_ENABLE" spec.type="uint" spec.value=""
spec.name="SPEC_STAG_INFORM_INTERVAL" spec.type="uint" spec.value=""

spec.name="SPEC_ROS_REDIRECT_URL" spec.type="string" spec.value=""

spec.name="SPEC_WHITELIST_DNS_URL" spec.type="string" spec.value=""
spec.name="SPEC_PING_DIAGNOSE_IPADDRESS" spec.type="string" spec.value=""
spec.name="SPEC_STC_APP_URL" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_WEB_AP_MENUXML" spec.type="string" spec.value="MenuNewAP.xml"