# HG8245/HG8247 spec.cfg
#此文件由hw_spec.xml演化而来

spec.include="base_ssmp_spec.cfg"

# [ssmp web spec]
spec.name="SSMP_SPEC_WEB_OUTCHANGEPORT" spec.type="uint" spec.value="80"
spec.name="SSMP_SPEC_WEB_NO_AUTH_PAGE" spec.type="string" spec.value="getupneighbourAPinfo.asp;GetTransmitPower.asp;GetUpLinkResult.asp;PortalCheckUplink.asp;PortalLanFinish.asp;PortalSetWiFiPwd.asp;PortalSetPWD.asp;GetPortalWanIp.asp;GetPortalWanPpp.asp;GetPortalDNSResult.asp;ParserDNSDomain.cgi;portalguideconfig.cgi;portalguide.asp;util.js;PortalUPPort.asp;PortalWifi.asp;PortalFinish.asp;PortalChange.asp;PortalBbspPwd.asp;PortalInternetStatus.asp;PortalMain.asp;PortalStaticIP.asp;PortalWebPwd.asp;bootstrap.min.js;bootstrap.js;md5.js;RndSecurityFormat.js;mm.cgi;ssmpdes.js;jquery.min.js;httpsdirect.asp;GetRandCount.asp;safelogin.js;updatePopWindow.asp;urlPopWindow.asp;updateConfig.asp;agreePopUpgrade.cgi;refusePopUpgrade.cgi;remindPopUpgrade.cgi;updateNote.asp;ajaxconfig.js;getajax.cgi;marketRedirect.asp;WEB_WindowsPopTracerSet;WebWdPopCancel;CheckPwdNotLogin.asp;CheckNormalPwdNotLogin.asp;CheckAdminPwdNotLogin.asp;MdfPwdNormalNoLg.cgi;MdfPwdAdminNoLg.cgi;GetCheckCodeResult.asp"
spec.name = "SSMP_SPEC_WEB_CFGFILE_SIZE" spec.type="uint" spec.value="2048"
spec.name="SSMP_SPEC_LOG_LANGUAGE" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_WEB_PREVMENUXML" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_WEB_PREVINDEXASP" spec.type="string" spec.value=""
spec.name="SSMP_SPEC_SWM_MODULESIZE" spec.type="uint" spec.value="2500"

# [ssmp web spec end]

#[ssmp swm spec]
spec.name="SSMP_SPEC_SWM_FLASHCONFIGADDR" spec.type="uint" spec.value="0x40000"
#[ssmp swm spec end]

#[ssmp CLI spec]
spec.name="SSMP_SPEC_BLANK_CLIFILENAME" spec.type="string" spec.value=""
#[ssmp CLI spec end]
#[ssmp LLID MAC]
spec.name="SSMP_SPEC_LLID_MAC_NUM" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_ETHOAM_MAC_NUM" spec.type="uint" spec.value="1"
#[ssmp LLID MAC end]

#[OMCI upgrade delay]
spec.name="SPEC_OMCI_PACKAGE_NUM_DELAY" spec.type="uint" spec.value="0"
#[OMCI upgrade delay]

#[ssmp tr181 data model spec]
spec.name="SPEC_DATA_MODEL_MAP" spec.type="string" spec.value=""
#[ssmp tr181 data model end]

spec.name="SSMP_SPEC_CLI_USER_CFG" spec.type="string" spec.value=""

#[ssmp DM spec]
spec.name="SSMP_SPEC_STB_MAC_NUM" spec.type="uint" spec.value="0"
