#天线增益Spec
spec.name = "AMP_SPEC_ANT_GAIN" spec.type="uint" spec.value="2"

#支持最大发射功率 200mw
spec.name = "HW_AMP_SPEC_24GWIFI_EIRP" spec.type="uint" spec.value="200"

#每频段支持SSID
spec.name = "AMP_SPEC_SSID_NUM_MAX_BAND" spec.type="uint" spec.value="8"

#SSID支持的MacFilter数目
spec.name = "AMP_SPEC_MAX_MACFILTER_NUM" spec.type="uint" spec.value="32"

#SSID支持的STA数目
spec.name = "AMP_SPEC_MAX_STA_NUM" spec.type="uint" spec.value="64"

#所有热点SSID的限速值
spec.name = "AMP_SPEC_ALL_ISP_RATE_LIMIT" spec.type="uint" spec.value="10000"

#支持AP个数
spec.name = "AMP_SPEC_AP_ACCESS_MAX_NUM" spec.type="uint" spec.value="16"

#upnp线程池个数
spec.name="UPNP_SENDTHREADPOLL_MAXNUM" spec.type="uint" spec.value="24"

#topo最大层级数目包括ONT本身
spec.name="HILINK_SPEC_TOPO_MAXLAYER" spec.type="uint" spec.value="3"

#用于描述option82 subopt1（即CircuitId）的指定格式，缺省为空解析关键字[SSID][APMAC]
spec.name="WLAN_SPEC_SUBOPT1_FORMAT" spec.type="string" spec.value=""

#支持EasyMesh,0表示不支持,1表示支持1.0,后续扩展2表示支持2.0
spec.name = "WLAN_SPEC_EASYMESH_VERSION" spec.type="uint" spec.value="1"
