spec.include="spec_china_base.cfg"
#支持软件转发mac过滤spec能力集（0表示走硬件，1表示lan侧走软件，其中数字预留(2表示wifi走软件, 3表示lan/wifi都走软件，4表示lan侧走软件并上报）
spec.name="BBSP_SPEC_SOFT_MACFILTER" spec.type="uint" spec.value="4"

#SSID支持的STA数目
spec.name = "AMP_SPEC_MAX_STA_NUM" spec.type="uint" spec.value="40"

#中国移动视图转换
spec.name="SPEC_DATA_MODEL_MAP" spec.type="string" spec.value="/etc/wap/tr069_view/DataView_tr069_cmcc.bin"

#中国移动智能网关技术规范v6.4口令安全（口令应支持足够复杂的策略，口令满足至少8位长度要求，且包含字符、数字和特殊字符等）
spec.name="SPEC_PWD_WEB_CMPLEX" spec.type="string" spec.value="WEB/CLI:1=8;2=3;"
spec.name="SPEC_PWD_CLI_CMPLEX" spec.type="string" spec.value="WEB/CLI:1=8;2=3;"

spec.name="SSMP_SPEC_CWMP_VENDOR" spec.type="string" spec.value="X_CIOT"

# 硬编码整改
spec.name="SPEC_CLI_MGIC" spec.type="string" spec.value="JDIrIig3SHZSUkRXZEZRZSYzMm93TClSenAtWz4vOEglfV1DS0ZRcF9BJ1A2Pi4yTWojPTpqYERAJG1bQyckAA=="
spec.name="SPEC_QOE_PRESET" spec.type="string" spec.value="/etc/wap/customize/preset/qoe.ini"