#通用的二次定制的Feature.cfg文件
#通用部分SSMP目前完全符合产品的Feature.cfg。请其他领域各自添加自己的二次定制。
feature.name="HW_SSMP_FEATURE_RESET_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_DEF" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="0"
feature.name="HW_SSMP_FEATURE_DM_LEDSWITCH" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLI_CHINA_MODE" feature.enable="0"
feature.name="HW_SSMP_FEATURE_SIM_CARD" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_AUTH" feature.enable="1"
feature.name = "HW_SSMP_FEATURE_GXBMONITOR" feature.enable="0"
feature.name="FT_CWMP_PRVTNODE_CONVERT" feature.enable="1"

feature.name="FT_WEB_HTTPONLY" feature.enable="1"

#AMP部分
feature.name="HW_AMP_FEATURE_COMMON" feature.enable="1"
#HW_AMP_FEATURE_TXDIS_LOSON  中国区LOS ON定制点灯开关
feature.name = "HW_AMP_FEATURE_TXDIS_LOSON" feature.enable="1"
feature.name = "HW_AMP_FEATURE_WPS_MULIT_PBC" feature.enable="1"

# BBSP部分
#CR20140306025 修改：联通、移动、国内China都放开
feature.name = "BBSP_FT_WAN_NAT_AUTO_ENABLE" feature.enable="1"
feature.name = "BBSP_FT_INTERNET_WAN_AUTO_BIND" feature.enable="1"
feature.name = "BBSP_FT_FIREWALL_FLOW_LOG" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CONTROL" feature.enable="1"
#用于网页普通用户过滤非PPPOE路由WAN口，通用版本打开
feature.name="FT_NORMAL_ONLY_SHOW_PPPOE_INFO" feature.enable="1"
#仅针对 广电通用、湖南广电 两款单板
feature.name="AMP_FT_ZTE_ENTITY" feature.productclass="HG8040H6|HG8245H6" feature.enable="1"
feature.name="BBSP_FT_VIETTEL_ZTE" feature.productclass="HG8040H6|HG8245H6" feature.enable="1"
#日志是否区分用户，默认打开，中国区定制全部关闭
feature.name = "HW_SSMP_FEATURE_LOG_VIEW_AUTH" feature.enable="1"

feature.name = "FT_PING_TIMEOUT_PER_PACKET" feature.enable="1"

#rip
feature.name="FT_RIP_DYNAMIC_ROUTE" feature.enable="0"

feature.name="BBSP_FT_PORT_ACL" feature.enable="1"

#ONT支持修改接入设备的名称，只在通用定制下打开，其他默认关闭。
feature.name="BBSP_FT_USER_DEVTYPE" feature.enable="1"

feature.name = "BBSP_FT_WLANMACFILER" feature.enable="1"

#DHCP option 82 配置页面显示
feature.name="BBSP_FT_DHCP_OPTION82" feature.enable="1"

#支持家庭网络扩展设备UPnP协议增强特性 通用版本打开
feature.name = "FT_WLAN_UPNP_EXPAND" feature.enable="1"
#支持“启用WiFi智能覆盖业务”的可配置选项（InternetGatewayDevice.X_HW_WifiCoverService.Enable）,对中国区三大T和通用版本打开
feature.name = "HW_AMP_FEATURE_UPNP_CONFIG" feature.enable="1"

#web界面支持测速
feature.name="FT_WEB_SPEED_DIAG" feature.enable="1"

feature.name="FT_IPERF_TEST" feature.enable="1"

feature.name="FT_MULTI_SERVICE_IPTV_PORT" feature.enable="1"

#tr069支持ipv6连接ITMS
feature.name="FT_CWMP_SUPPORT_IPV6" feature.enable="1"

#新的一网多用WEB页面放开
feature.name="FT_MULTI_SERVICE_IPTV_PORT_NEW" feature.enable="1"
feature.name="FT_MULTI_SERVICE_PORT" feature.enable="1"

#PSI下发命令，踢掉在线用户
feature.name="FT_SSMP_KICKOFF_WEB_USER" feature.enable="0"

#电信要求默认使能给下挂路由器分前缀
feature.name="BBSP_FT_DHCPV6_PD_ENABLE" feature.enable="1"

#使能ULA的转发
feature.name="BBSP_FT_ULA_FORWARD" feature.enable="1"

#使能USERDEV6
feature.name="BBSP_FT_DISPLAY_USER_DEV6" feature.enable="1"

#控制网页NPTv6相关内容
feature.name="FT_WEB_NPTV6" feature.enable="1"