#电信通用的二次定制的Feature.cfg文件
feature.include="feature_base_awifi.cfg"

#HW_SSMP_FEATURE_MNGT_GDCT 控制广东电信特性
feature.name="HW_SSMP_FEATURE_MNGT_GDCT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_RESET_CTCOM" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="0"
feature.name="HW_SSMP_FEATURE_CWMP_CTCOM" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="0"
feature.name="HW_SSMP_FEATURE_MNGT_CT" feature.enable="0"
feature.name="HW_SSMP_FEATURE_DIGCONFIG" feature.enable="1"
feature.name="HW_SSMP_FEATURE_DLNA" feature.enable="1"
feature.name="FT_WEB_DISPLAY_LOIDREG" feature.enable="0"
feature.name="HW_SSMP_FEATURE_USBPRINTER" feature.enable="1"
feature.name="HW_SSMP_FEATURE_USBSTORAGE" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLI_PWD_COMPAT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_UNCHANGEUSER" feature.enable="1"
feature.name="HW_SSMP_FEATURE_FTP_PWD_COMPAT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_PASSWDMODE_MD5" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLI_CHINA_MODE" feature.enable="0"
feature.name="HW_SSMP_FEATURE_SIM_CARD" feature.enable="1"
feature.name = "HW_SSMP_FEATURE_QUICKCFG"  feature.enable="1"
feature.name = "HW_SSMP_FEATURE_WEB_ONLY_PWD" feature.enable="1"
feature.name = "HW_SSMP_FEATURE_WEB_ADMIN_LOG" feature.enable="1"
#控制WEB https证书导入功能，bin4,bin5需要，默认打开，按定制关闭（国内定制(E8C 、联通、移动等)，Bell/tellus，DT，BT等关闭）
feature.name="HW_SSMP_FEATURE_WEBSSLPAGE" feature.enable="0"
feature.name = "HW_SSMP_FEATURE_GXBMONITOR" feature.enable="0"
feature.name="FT_CWMP_PRVTNODE_CONVERT" feature.enable="1"
feature.name="FT_SSMP_STBBIND_EX" feature.enable="1"

#HW_FEATURE_NOTIFY_CWMP_SOURCE开启时，acs修改节点会主动上报value change 事件
feature.name = "HW_FEATURE_NOTIFY_CWMP_SOURCE" feature.enable="1"

#平台新增特性开关，用于控制NTP时间同步与预检预修文件上报耦合,在广东电信打开
feature.name = "HW_SSMP_FT_SNTP_SYN_FLAG" feature.enable="1"

#设置导出的XML文件为密文
feature.name="HW_SSMP_FEATURE_CFG_BACKUP" feature.enable="0"

feature.name="HW_SSMP_FEATURE_UNCHANGEURL" feature.enable="1"
#广东电信灰化周期时间特性开关，目前仅应用于广东E8C
feature.name="HW_SSMP_FEATURE_UNCHANGETIME" feature.enable="1"

#恢复出厂时保留LOID
feature.name="FT_DM_CFGRESET_SAVE_LOID" feature.enable="1"

#E8-C注册过程中，进行光路检测，目前只应用于广东E8-C
feature.name="HW_SSMP_FEATURE_WEB_OPTICDETECT" feature.enable="1"

#广东电信智能监控系统特性开关
feature.name="HW_SSMP_FEATURE_MONITORCOLL" feature.enable="1"
feature.name = "HW_SSMP_FEATURE_MONITORDIAG" feature.enable="1"
#预检预修2.0特性控制开关
feature.name = "SSMP_MONITOR_COLLECTOR_E8C" feature.enable="1"
#MonitorCollector参数中增加ConnectionType节点
feature.name="SSMP_FT_REPORT_WAN_CONN_TYPE" feature.enable="1"

#AMP的运营商定制   E8C/CTC版本默认必备HW_AMP_FEATURE_CTC
feature.name="HW_AMP_FEATURE_CTC" feature.enable="1"
#HW_AMP_FEATURE_TXDIS_LOSON  中国区LOS ON定制点灯开关
feature.name = "HW_AMP_FEATURE_TXDIS_LOSON" feature.enable="1"
#HW_AMP_FEATURE_LOID_O5AUTH_SHOW  E8C WEB页面显示o5auth状态
feature.name = "HW_AMP_FEATURE_LOID_O5AUTH_SHOW" feature.enable="1"
#HW_AMP_FEATURE_LOIDAUTHLED LOID认证通过后点灯
feature.name = "HW_AMP_FEATURE_LOIDAUTHLED" feature.enable="1"
#HW_AMP_FEATURE_RX_EXTEND_LED 接受光功率超门限时点灯定制开关
feature.name = "HW_AMP_FEATURE_RX_EXTEND_LED" feature.enable="1" 
feature.name = "AMP_FT_SPECIAL_AUTH_SHOW" feature.enable="1"
#HW_AMP_FT_FEATURE_AWIFI  E8C AWIFI特性开关
feature.name = "HW_AMP_FT_FEATURE_AWIFI" feature.enable="1"

#PSI下发命令，踢掉在线用户
feature.name="FT_SSMP_KICKOFF_WEB_USER" feature.enable="0"

#BBSP的运营商定制
feature.name="BBSP_FT_GDCT" feature.enable="1"
feature.name="BBSP_FT_CTC" feature.enable="1"
feature.name="BBSP_FT_INTERNET_WAN_AUTO_BIND" feature.enable="1"
feature.name="BBSP_FT_TR069_WAN_ONLY_READ" feature.enable="1"
feature.name="BBSP_FT_UPLINKQOS" feature.enable="1"
feature.name="BBSP_FT_IGMP_SNOOPINGENABLE_SET" feature.enable="1"
feature.name="BBSP_FT_QOS_SPDLMT" feature.enable="0"

#特性剥离，从运营商中剥离的特性
feature.name="BBSP_FT_MODIFY_DEFAULT_URL" feature.enable="1"
feature.name="BBSP_FT_DHCP_LAN_DEFAULT" feature.enable="0"
feature.name="BBSP_FT_DHCP_SAVE_PING_RESULT" feature.enable="1"
feature.name="BBSP_FT_DHCP_PING_PARA" feature.enable="1"
feature.name="BBSP_FT_WAN_NAT_AUTO_ENABLE" feature.enable="1"
feature.name="BBSP_FT_WAN_SYN_UPLINK" feature.enable="1"


#ipv6节点按照E8C 4.0的规范进行转换
feature.name="IPV6_NODE_CONV_WITH_E8C_4_0" feature.enable="1"

#untag的wan返回字段为0
feature.name="BBSP_FT_VLAN_VLAUE_RETURN" feature.enable="1"

#PPPOE on demand自动断线强制检测上行流量
feature.name = "BBSP_FT_PPPOE_DETECTUPSTREAM" feature.enable="0"

#IPProtocolVersion 开关
feature.name="BBSP_FT_IPV4_PRO_SHUTDOWN" feature.enable="0"
feature.name="BBSP_FT_IP_PROTOCOL_CFG_CHK" feature.enable="1"
#internet灯是否存在
feature.name="BBSP_FT_INTERNET_LED_EXIST" feature.enable="1"

#TR098桥模型
feature.name="BBSP_FT_DHCP_CLIENT_OPTION" feature.enable="1" 
feature.name="BBSP_FT_DHCPS_OPTION"       feature.enable="0"

#是否开启E8C4.0 C.2.1.28 Ping功能
feature.name="BBSP_FT_E8C_IPPINGDIAGNOSTICS"       feature.enable="1"
#增强型portmapping(支持多实例portlist)
feature.name="BBSP_FT_PM_PORTLIST" feature.enable="0"

#电信PK，支持电信测试规范标准组播Snooping和Proxy
feature.name="BBSP_FT_E8C_PK_IGMPENABLE" feature.enable="0"

#广东预检预修仿真特性:仅针对广东电信打开
feature.name = "BBSP_FT_BRIDGEWAN_AUTO_PPPOEEM" feature.enable="1" 
feature.name = "BBSP_FT_PPPOEEM_IGNORE_WANSTAT" feature.enable="1"

feature.name="BBSP_FT_DHCPS_DEF_OPT125" feature.enable="1"

feature.name="BBSP_FT_UPNP_SNAT_DISABLE" feature.enable="1"

feature.name = "BBSP_FT_IPPROTOCOL_VER" feature.enable="1" 

#控制中国电信LOID/PWD注册，先认证后入库的特性开关
feature.name="HW_AMP_FT_LOID_NOT_SAVE" feature.enable="1"
feature.name = "BBSP_FT_WEB_CFG_RG_EN_VALID" feature.enable="0"
feature.name="BBSP_FT_PARENTAL_CONTROL" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CTRL_URL_FLT" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CTRL_URL_MODE" feature.enable="1"


#日志是否区分用户，默认打开，中国区定制全部关闭
feature.name = "HW_SSMP_FEATURE_LOG_VIEW_AUTH" feature.enable="0"
feature.name = "BBSP_FT_OSGI_POP_WINDOWS" feature.enable="1"
feature.name = "BBSP_FT_REDIRECT" feature.enable="0"

feature.name = "BBSP_FT_WAN_LASTERR_IPVER_IND" feature.enable="1"
feature.name = "BBSP_FT_PPPOE_AUTHFAIL_CODE" feature.enable="1"
feature.name = "BBSP_FT_PPPOE_EM_HIDEPWD" feature.enable="1"
feature.name = "BBSP_FT_PPPOE_EM_TIMEOUTCTRL" feature.enable="1"

#广东电信
feature.name="FT_IPV6_DEFAULT_DHCPv6" feature.enable="1" 
feature.name="FT_TRACEROUTE_HOP_ONLY_IP" feature.enable="1" 
feature.name="FT_PPPOE_UP_INFORM_ITMS" feature.enable="1" 

feature.name="BBSP_FT_TRACEROUTE_ICMP" feature.enable="1"

feature.name = "FT_PING_TIMEOUT_PER_PACKET" feature.enable="1"
feature.name="FT_PING_DOMAIN_A_4A" feature.enable="1"

feature.name="HW_FEATURE_NOTIFY_CWMP_SOURCE" feature.enable="1"

#广东电信预检预修2.0支持上报APModuleEnable节点
feature.name="FT_GDCT_APMODULEENABLE_INFORM" feature.enable="1"

#在CWMP INFORM消息中添加光功率的相关信息
feature.name="AMP_FT_CWMP_INFORM_OPTIC" feature.enable="1"

#广东电信预检预修，Qoe支持
feature.name = "FT_E8C_QOE" feature.enable="1"

#广东电信TR069_VOIP WAN_不显示MTU
feature.name = "BBSP_FT_TR069_VOIP_NOMTU" feature.enable="1"

#ALMCR201606016972213 广东电信预检预修v2.0
feature.name="BBSP_FT_PPPOEEM_AUTO_MULTIPLE" feature.enable="1"
feature.name="BBSP_FT_PATH_FORMAT" feature.enable="1"

#支持DHCPConditionalServingPool 在tr069上可见，需要打开特性开关  BBSP_FT_DHCPS_COND_POOL
feature.name="BBSP_FT_DHCPS_COND_POOL" feature.enable="1"

#BBSP 爱WIFI特性开关
feature.name = "FT_BBSP_AWIFI_SWITCH" feature.enable="1"

feature.name="BBSP_FT_WAN_LAN_TELNET_BOTH_TAP" feature.enable="1"

#电信集采InternetGatewayDevice.Services.X_CT-COM_IPTV?增加Status字段 
feature.name = "FT_IPTV_STATUS" feature.enable="1" 

feature.name="FT_FULLROUTE_ROUTEVOICEWAN_NAT" feature.enable="1"

#告警参数上报
feature.name="FT_PPPOE_ALARM" feature.enable="1"
#扩展机顶盒零配置
feature.name="BBSP_FT_STB_ZERO_CONFIG_EXT" feature.enable="1"
#机顶盒零配置一次只上报一个MAC
feature.name="BBSP_FT_STBMAC_INFORM_1BY1" feature.enable="1"

#支持手机APP一键烧录LOID
feature.name = "FT_SET_LOID_BY_APP_URL" feature.enable="0"

feature.name="FT_SET_LOID_BY_URL" feature.enable="1"

#支持家庭网络扩展设备UPnP协议增强特性 通用版本打开
feature.name = "FT_WLAN_UPNP_EXPAND" feature.enable="1"
#支持“启用WiFi智能覆盖业务”的可配置选项（InternetGatewayDevice.X_HW_WifiCoverService.Enable）,对中国区三大T和通用版本打开
feature.name = "HW_AMP_FEATURE_UPNP_CONFIG" feature.enable="1"
#广东河南电信AWIFI融合网关 使用awifi 2.0
feature.name="FT_OPEN_WIFIDOG_STB" feature.productclass="HS8125T|LS8025T|HS8125T5" feature.enable="0"

#广东电信 PIE ACK不忽略失败错误码
feature.name="FT_PIE_ACK_IGNORE_ERRCODE" feature.enable="0"