#通用的二次定制的Feature.cfg文件
#通用部分SSMP目前完全符合产品的Feature.cfg。请其他领域各自添加自己的二次定制。
feature.name="HW_SSMP_FEATURE_RESET_CTCOM" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="0"
feature.name="HW_SSMP_FEATURE_CWMP_CTCOM" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="1"
feature.name="HW_SSMP_FEATURE_MNGT_CT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_DIGCONFIG" feature.enable="1"
feature.name="HW_SSMP_FEATURE_DM_LEDSWITCH" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLI_PWD_COMPAT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_FTP_PWD_COMPAT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_PASSWDMODE_MD5" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLI_CHINA_MODE" feature.enable="0"
feature.name="HW_SSMP_FEATURE_SIM_CARD" feature.enable="1"
feature.name = "HW_SSMP_FEATURE_QUICKCFG"  feature.enable="1"
feature.name = "HW_SSMP_FEATURE_WEB_ONLY_PWD" feature.enable="0"
feature.name = "HW_SSMP_FEATURE_WEB_ADMIN_LOG" feature.enable="0"
feature.name="HW_SSMP_FEATURE_WEBSSLPAGE" feature.enable="0"
feature.name = "HW_SSMP_FEATURE_GXBMONITOR" feature.enable="0"
feature.name="FT_CWMP_PRVTNODE_CONVERT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_RESET_NO_LOGIN" feature.enable="1"
feature.name = "FT_FIRMWARE_UPGRADE_PAGE" feature.enable="1" 
feature.name = "FT_SSMP_SXGD_WEB_LOGIN_PWD_NULL" feature.enable="0" 

feature.name = "FT_SSMP_SCCNCATV_MNG" feature.enable="1"

#设置导出的XML文件为密文
feature.name="HW_SSMP_FEATURE_CFG_BACKUP" feature.enable="0"
feature.name="HW_SSMP_FEATURE_E8C_LONGRESET" feature.enable="1"
feature.name="FT_WEB_HTTPONLY" feature.enable="1"

#AMP的运营商定制   E8C/CTC版本默认必备HW_AMP_FEATURE_CTC
feature.name="HW_AMP_FEATURE_CTC" feature.enable="1"
#HW_AMP_FEATURE_TXDIS_LOSON  中国区LOS ON定制点灯开关
feature.name = "HW_AMP_FEATURE_TXDIS_LOSON" feature.enable="1"
#HW_AMP_FEATURE_LOID_O5AUTH_SHOW  E8C WEB页面显示o5auth状态
feature.name = "HW_AMP_FEATURE_LOID_O5AUTH_SHOW" feature.enable="1"

# BBSP部分
#CR20140306025 修改：联通、移动、国内China都放开
feature.name = "BBSP_FT_FIREWALL_FLOW_LOG" feature.enable="1"
#控制中国电信LOID/PWD注册，先认证后入库的特性开关
feature.name="HW_AMP_FT_LOID_NOT_SAVE" feature.enable="1"
#用于网页普通用户过滤非PPPOE路由WAN口，通用版本打开
feature.name="FT_NORMAL_ONLY_SHOW_PPPOE_INFO" feature.enable="1"

#日志是否区分用户，默认打开，中国区定制全部关闭
feature.name = "HW_SSMP_FEATURE_LOG_VIEW_AUTH" feature.enable="0"


#rip
feature.name="FT_RIP_DYNAMIC_ROUTE" feature.enable="0"

feature.name="BBSP_FT_PORT_ACL" feature.enable="0"

#ONT支持修改接入设备的名称，只在通用定制下打开，其他默认关闭。
feature.name="BBSP_FT_USER_DEVTYPE" feature.enable="1"

feature.name = "BBSP_FT_WLANMACFILER" feature.enable="1"

#DHCP option 82 配置页面显示
feature.name="BBSP_FT_DHCP_OPTION82" feature.enable="1"

#支持家庭网络扩展设备UPnP协议增强特性 通用版本打开
feature.name = "FT_WLAN_UPNP_EXPAND" feature.enable="1"
#支持“启用WiFi智能覆盖业务”的可配置选项（InternetGatewayDevice.X_HW_WifiCoverService.Enable）,对中国区三大T和通用版本打开
feature.name = "HW_AMP_FEATURE_UPNP_CONFIG" feature.enable="1"

#web界面支持测速
feature.name="FT_WEB_SPEED_DIAG" feature.enable="1"

feature.name="FT_IPERF_TEST" feature.enable="1"

feature.name="FT_MULTI_SERVICE_IPTV_PORT" feature.enable="1"

#tr069支持ipv6连接ITMS
feature.name="FT_CWMP_SUPPORT_IPV6" feature.enable="1"

#新的一网多用WEB页面放开
feature.name="HW_SSMP_FEATURE_USD" feature.enable="0"
feature.name="HW_SSMP_FEATURE_UNCHANGEURL" feature.enable="1"
feature.name="HW_SSMP_FEATURE_UNCHANGEUSER" feature.enable="1"
feature.name="HW_SSMP_FEATURE_UNCHANGEPERIOD" feature.enable="1"
feature.name="HW_SSMP_FEATURE_DISABLEACSAPPLY" feature.enable="1"
feature.name="HW_SSMP_FEATURE_UNCHANGETIME" feature.enable="1"

feature.name="FT_PIE_FAST_ACK" feature.enable="1"
#一网多用—ONT设备实现家庭组网同时承载上网、IPTV等多种业务
feature.name="FT_MULTI_SERVICE_PORT" feature.enable="1"

feature.name="BBSP_FT_CONFIG_IPV6_SESSION" feature.enable="1"

#支持MLD设置成proxy模式
feature.name="BBSP_FT_SUPPORT_MLD_PROXY" feature.enable="1"

#新的一网多用WEB页面放开
feature.name="FT_MULTI_SERVICE_IPTV_PORT_NEW" feature.enable="1"

#BBSP的运营商定制
feature.name="BBSP_FT_SCCT" feature.enable="1"
feature.name="BBSP_FT_CTC" feature.enable="1"
feature.name="BBSP_FT_UPLINKQOS" feature.enable="1"
feature.name="BBSP_FT_IGMP_SNOOPINGENABLE_SET" feature.enable="1"
feature.name="BBSP_FT_QOS_SPDLMT" feature.enable="0"
feature.name="BBSP_FT_INTERNET_WAN_AUTO_BIND" feature.enable="1"

#特性剥离，从运营商中剥离的特性
feature.name="BBSP_FT_MODIFY_DEFAULT_URL" feature.enable="1"
feature.name="BBSP_FT_DHCP_LAN_DEFAULT" feature.enable="0"
feature.name="BBSP_FT_DHCP_SAVE_PING_RESULT" feature.enable="1"
feature.name="BBSP_FT_DHCP_PING_PARA" feature.enable="1"
feature.name="BBSP_FT_WAN_NAT_AUTO_ENABLE" feature.enable="1"
feature.name="BBSP_FT_WAN_SYN_UPLINK" feature.enable="1"

#ipv6节点按照E8C 4.0的规范进行转换
feature.name="IPV6_NODE_CONV_WITH_E8C_4_0" feature.enable="1"

#PPPOE on demand自动断线强制检测上行流量
feature.name="BBSP_FT_PPPOE_DETECTUPSTREAM" feature.enable="0"
#internet灯是否存在
feature.name="BBSP_FT_INTERNET_LED_EXIST" feature.enable="1"

#TR098桥模型
feature.name="BBSP_FT_DHCP_CLIENT_OPTION" feature.enable="1"

feature.name="BBSP_FT_DHCPS_OPTION"       feature.enable="0"

#是否开启E8C4.0 C.2.1.28 Ping功能
feature.name="BBSP_FT_E8C_IPPINGDIAGNOSTICS"       feature.enable="1"

#增强型portmapping(支持多实例portlist)
feature.name="BBSP_FT_PM_PORTLIST" feature.enable="0"

#电信PK，支持电信测试规范标准组播Snooping和Proxy
feature.name="BBSP_FT_E8C_PK_IGMPENABLE" feature.enable="0"
feature.name="BBSP_FT_DHCPS_DEF_OPT125" feature.enable="1"
feature.name="BBSP_FT_UPNP_SNAT_DISABLE" feature.enable="1"

#产品特性定制文件中，默认开启wan ping功能，对四川电信二次定制关闭wan 侧ping 特性开关
feature.name = "BBSP_FT_PING_WAN" feature.enable="0"
feature.name = "BBSP_FT_IPPROTOCOL_VER" feature.enable="1"

feature.name="BBSP_FT_PARENTAL_CONTROL" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CTRL_URL_FLT" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CTRL_URL_MODE" feature.enable="1"


feature.name = "BBSP_FT_REDIRECT" feature.enable="0"
feature.name = "BBSP_FT_PONLOCAL_ARPREPLY" feature.enable="0"
feature.name = "FT_PING_TIMEOUT_PER_PACKET" feature.enable="1"
feature.name="FT_SUPPORT_FRAME_DETECTION" feature.enable="1"

feature.name = "BBSP_FT_TRACEROUTE_ICMP" feature.enable="1"
feature.name = "BBSP_FT_TRACERT_SEL_PKTTYPE" feature.enable="1"
feature.name = "BBSP_FT_BTV_EM_WAN" feature.enable="1"

#ALMCR201605186741368四川电信5.0规范黑白名单使用电信节点
feature.name = "BBSP_FT_CTCOM_MACFLT" feature.enable="1"
feature.name = "BBSP_FT_ACCESS_EQUIPMENT_MAC" feature.enable="1"

#支持DHCPConditionalServingPool 在tr069上可见，需要打开特性开关  BBSP_FT_DHCPS_COND_POOL
feature.name="BBSP_FT_DHCPS_COND_POOL" feature.enable="1"
feature.name="BBSP_FT_WAN_LAN_TELNET_BOTH_TAP" feature.enable="1"

#ALMCR2016111910460479四川电信双MAC
feature.name="FT_MAC_ROUTE_E8C_OPTION60" feature.enable="1"

#电信集采InternetGatewayDevice.Services.X_CT-COM_IPTV?增加Status字段

feature.name = "FT_IPTV_STATUS" feature.enable="1"

feature.name="FT_FULLROUTE_ROUTEVOICEWAN_NAT" feature.enable="1"

#支持桥接WAN  disable
feature.name = "BBSP_FT_BRIDGE_WAN_DISABLE" feature.enable="1"

#DTS2019081507871 国内三大T都不支持
feature.name="HW_BBSP_TRAFFIC_FWD_DNS_FILTER" feature.enable="0"

#ALMCR2019111232178663 越南 Viettel Session Limit
feature.name="BBSP_FT_SESSION_LIMIT" feature.enable="0"

#恢复出厂时保留LOID
feature.name="FT_DM_CFGRESET_SAVE_LOID" feature.enable="1"

#是否主动上报ppp wan username变化
feature.name="BBSP_FT_INFORM_PPP_WAN_USRNAME" feature.enable="1"