#中国移动的二次定制的Feature.cfg文件，基本上同集团电信的一致
#通用部分SSMP目前完全符合产品的Feature.cfg。请其他领域各自添加自己的二次定制。
feature.include="ft_com_ciot_osgi.cfg"

feature.name="HW_SSMP_FEATURE_RESET_CTCOM" feature.enable="1"
feature.name="HW_SSMP_FEATURE_OUI_STATIC" feature.enable="0"
feature.name="HW_SSMP_FEATURE_CWMP_CTCOM" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CWMP_PWDKEY" feature.enable="0"
feature.name="HW_SSMP_FEATURE_MNGT_CT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLI_PWD_COMPAT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_FTP_PWD_COMPAT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_PASSWDMODE_MD5" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CLI_CHINA_MODE" feature.enable="0"
feature.name = "HW_SSMP_FEATURE_QUICKCFG"  feature.enable="1"
#控制WEB https证书导入功能，bin4,bin5需要，默认打开，按定制关闭（国内定制(E8C 、联通、移动等)，Bell/tellus，DT，BT等关闭）
feature.name="HW_SSMP_FEATURE_WEBSSLPAGE" feature.enable="0"
feature.name="FT_CWMP_PRVTNODE_CONVERT" feature.enable="1"
feature.name="HW_SSMP_FEATURE_CMCC_RMS" feature.enable="1"
feature.name="HW_FT_CWMP_BOOL_STRING" feature.enable="1"
feature.name="HW_FT_CWMP_UNIQUE_CONNECT_URL" feature.enable="1"

# CMCC RMS节点控制
feature.name = "FT_CWMP_CMCC_RMS" feature.enable="1"

#ipv6节点按照E8C 4.0的规范进行转换
feature.name="IPV6_NODE_CONV_WITH_E8C_4_0" feature.enable="1"

#设置导出的XML文件为密文
feature.name="HW_SSMP_FEATURE_CFG_BACKUP" feature.enable="0"

feature.name="HW_SSMP_FEATURE_DLNA" feature.enable="1"
feature.name="HW_SSMP_FEATURE_USBPRINTER" feature.enable="1"
feature.name="HW_SSMP_FEATURE_USBSTORAGE" feature.enable="1"
feature.name="HW_SSMP_FEATURE_DM_LEDSWITCH" feature.enable="1"

#日志是否区分用户，默认打开，中国区定制全部关闭
feature.name = "HW_SSMP_FEATURE_LOG_VIEW_AUTH" feature.enable="0"

#AMP的运营商定制   E8C/CTC版本默认必备HW_AMP_FEATURE_CTC
feature.name="HW_AMP_FEATURE_CTC" feature.enable="1"
#HW_AMP_FEATURE_TXDIS_LOSON  中国区LOS ON定制点灯开关
feature.name = "HW_AMP_FEATURE_TXDIS_LOSON" feature.enable="1"

#PSI下发命令，踢掉在线用户
feature.name="FT_SSMP_KICKOFF_WEB_USER" feature.enable="0"

#BBSP的运营商定制
feature.name="BBSP_FT_CTC" feature.enable="1"
feature.name="BBSP_FT_INTERNET_WAN_AUTO_BIND" feature.enable="1"
feature.name="BBSP_FT_UPLINKQOS" feature.enable="1"
feature.name="BBSP_FT_IGMP_SNOOPINGENABLE_SET" feature.enable="1"
feature.name="BBSP_FT_DHCP_LAN_DEFAULT" feature.enable="0"
feature.name="BBSP_FT_WAN_SYN_UPLINK" feature.enable="0"

#CMCC_RMS移动免预配置需要支持
feature.name="BBSP_FT_CMCC_RMS" feature.enable="1"
feature.name="BBSP_FT_CMCC_PARENTAL_CTRL" feature.enable="1"
feature.name="BBSP_FT_IPFLT_IGNORE_FWLEVEL" feature.enable="1"

#TR098桥模型
feature.name="BBSP_FT_DHCP_CLIENT_OPTION" feature.enable="1" 
feature.name="BBSP_FT_DHCPS_OPTION"       feature.enable="1" 

#是否开启CMCC TLS
feature.name="BBSP_FT_CMCC_TLS" feature.enable="0"

feature.name="BBSP_FT_UPNP_SNAT_DISABLE" feature.enable="1"

#CR20140306025 修改：联通、移动、国内China都放开
feature.name = "BBSP_FT_WAN_NAT_AUTO_ENABLE" feature.enable="1"
feature.name = "BBSP_FT_WEB_CFG_RG_EN_VALID" feature.enable="1"

#ALMCR201608168062099
feature.name="BBSP_FT_PARENTAL_CONTROL" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CTRL_URL_MODE" feature.enable="1"
feature.name="BBSP_FT_URLFIL" feature.enable="1"
feature.name="BBSP_FT_PARENTAL_CTRL_URL_FLT" feature.enable="0"

feature.name = "FT_PING_TIMEOUT_PER_PACKET" feature.enable="1"
feature.name="BBSP_FT_MULT_SESSION_VLAN_LIMIT" feature.enable="0"

feature.name="BBSP_FT_DHCPS_DEF_OPT125" feature.enable="1" 
feature.name="BBSP_FT_TR069_CONFIG_IPFILTER" feature.enable="1" 

# ALMCR201603045337681
feature.name = "BBSP_FT_TRACERT_SEL_PKTTYPE" feature.enable="1"
feature.name = "BBSP_FT_DHCP_SAVE_PING_RESULT" feature.enable="1"
feature.name="BBSP_FT_DHCP_PING_PARA" feature.enable="1"
feature.name="BBSP_FT_YJYX_IPV4_ONLY" feature.enable="1"

#ALMCA201605036544412移动RMS定制开启 BBSP_FT_URLFLT_IGNORE_FWLEVEL 无论什么防火墙级别都允许配置URL filter
feature.name = "BBSP_FT_URLFLT_IGNORE_FWLEVEL" feature.enable="1"

#智能网关插件权限管理，仅智能网关非电信、联通定制开启
feature.name="FT_PLUGIN_PERMISSION_ENABLE" feature.enable="1"

#智能网关插件权限管理，仅智能网关移动定制开启
feature.name="FT_PLUGIN_PERMISSION_CONTROL_ONLY" feature.enable="1"

feature.name="BBSP_FT_WAN_LAN_TELNET_BOTH_TAP" feature.enable="1"

#硬件流量监测开关
feature.name="FT_USERDEV_TRAFFIC_HARD_STAT" feature.enable="1"

#镜像、重定向、QOS内核钩子开关
feature.name="BBSP_FT_TEMPLATE_CAPTURE" feature.enable="1"

#SD卡特性开关,该特性开关只在HS8546V2上定义，只在移动定制开启，其他单板不支持内置SD卡功能，不需要开启，也不能开启，
#否则会导致开机自检异常，和网页一键式诊断异常
feature.name="HW_SSMP_FEATURE_INNER_SDCARD" feature.enable="1"

#ALMCR201608258265869新增两个节点特性开关
feature.name="BBSP_FT_PARENT_TIMTE_FILTER" feature.enable="1"

#先启动OSGI_PROXY,后启动CWMP
feature.name = "FT_CWMP_WAIT_OSGI" feature.enable="1" 

#启动本地监控（移动智能单板java监听17998，而其他的由app_m监听）
feature.name="FT_NO_NEED_LISTEN_MT_PORT" feature.enable="1"