spec.include="spec_china_base.cfg"
spec.name = "SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x00004000"
spec.name="SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_FRAME" spec.type="string" spec.value="frame_XGPON"
spec.name="SSMP_SPEC_WEB_LANGUAGE_SET" spec.type="string" spec.value="chinese"
spec.name="SSMP_SPEC_WEB_MENUXML" spec.type="string" spec.value="MenuSmartChinaAP.xml"
spec.name="SSMP_SPEC_WEB_LANGUAGE" spec.type="string" spec.value="chinese"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="3"
spec.name="SPEC_AP_HOSTING_CERT_PATH" spec.type="string" spec.value="/etc/wap/ap_hosting_cert/"
spec.name="SPEC_AP_MUL_SRV_NATIVE_VLAN" spec.type="uint" spec.value="4094"
#连接数量规格
spec.name = "BBSP_SPEC_FWD_SESSIONNUM" spec.type="uint" spec.value="16000"
spec.name = "BBSP_SPEC_USR_CFG_ROUTE_MAXNUM" spec.type="uint" spec.value="1500"

spec.name = "BBSP_SPEC_RIP_RATE" spec.type="uint" spec.value="40"
spec.name = "BBSP_SPEC_RIP_ROUTENUM" spec.type="uint" spec.value="128"

spec.name="SSMP_SPEC_PLUGIN_APILIST" spec.type="string" spec.value="plugin_api"
spec.name="OSGI_SPEC_SYSBUNDLE_LIST" spec.type="string" spec.value="/etc/wap/customize/plugin_sys"

spec.name="OSGI_SPEC_SECURITY_CFG" spec.type="string" spec.value="/etc/wap/customize/cpa.txt"

spec.name="BBSP_SPEC_IP_FPM_STAS_NUM" spec.type="uint" spec.value="0"

#AP控制判断上行口状态线程的分片处理休眠时间
spec.name = "SPEC_AP_THREAD_SLEEP_INTERVAL" spec.type="uint"  spec.value="1"
#AP控制LAN侧Down到Up的时间间隔
spec.name = "SPEC_AP_LAN_DOWN_UP_RESP_TIME" spec.type="uint"  spec.value="2"
spec.name="OSGI_SPEC_FORBID_PREBUNDLE_LIST" spec.type="string" spec.value="/etc/wap/customize/plugin_pre"

