#各种定制下预制插件列表
spec.name="OSGI_SPEC_SYSBUNDLE_LIST" spec.type="string" spec.value="/etc/wap/customize/plugin_sys"
spec.name="OSGI_SPEC_FORBID_PREBUNDLE_LIST" spec.type="string" spec.value="/etc/wap/customize/plugin_pre"
#天翼网关版本号
spec.name="SPEC_APPREMOTE_VERSION" spec.type="string" spec.value="2.0"

spec.name="SPEC_DIAG_ACC_WAIT_TIME" spec.type="uint" spec.value="1"

spec.name="SSMP_SPEC_MANUFACTURE" spec.type="string" spec.value="huawei"
spec.name="HW_CTRG_DBUS_VERSION_SPEC" spec.type="string" spec.value="1.13"
spec.name="DBUS_SPEC_DELAY_TIME" spec.type="uint" spec.value="5"

spec.name="SMART_CPLUGIN_LIST" spec.type="string" spec.value="/etc/wap/thirdplugin_V5.list"